@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 46 100% 97%;
    --foreground: 46 10% 10%;
    --card: 46 100% 100%;
    --card-foreground: 46 10% 10%;
    --popover: 46 100% 100%;
    --popover-foreground: 46 10% 10%;
    --primary: 46 68% 55%;
    --primary-foreground: 46 10% 10%;
    --secondary: 46 30% 90%;
    --secondary-foreground: 46 10% 10%;
    --muted: 46 20% 90%;
    --muted-foreground: 46 10% 40%;
    --accent: 46 50% 80%;
    --accent-foreground: 46 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 46 20% 85%;
    --input: 46 20% 85%;
    --ring: 46 68% 55%;
    --radius: 0.5rem
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: hsl(var(--primary));
  transition: transform 0.25s ease-out;
  transform-origin: bottom left;
}

.underline-animation:hover::after {
  transform: scaleX(1);
}